* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
}

html{
    scroll-behavior: smooth;
}

/*
1. Vị trí
2. Kích thước
3.  Màu sắc
4. Kiểu dáng 
*/

/* Common */

.clear{
    clear: both;
}

.text-white{
    color: #fff!important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-third{
    width: calc(100%/3);
}

.col-half{
    width: 50%;
}

.mt-8{
    margin-top: 8px!important;
}

.mt-16{
    margin-top: 16px;
    margin-bottom: 16px;
}

#header{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 46.5px;
}

#nav > li{
    display: inline-block;
    list-style: none;
}

#nav li a{
    color: #fff;
    line-height: 46.5px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 24px;
}


#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

#nav li:last-child {
    position: relative;
}

#nav ul.subnav{
    display: none;
    position: absolute;
    list-style: none;
}

#nav li:hover ul.subnav{
    display: block;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

#nav .subnav a{
    display: block;
    color: #000;
    text-decoration: none;
    line-height: 36.5px;
    padding: 0 48px 0 16px;
    text-transform: none;
}

.subnav > li:hover{
    background-color: #ccc;
}

#nav .arrow-icon{
    font-size: 10px;
}

#header .mobile-menu-icon,
#header .search-icon{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 46.5px;
    color: #fff;
    padding: 0 24px;
}

#header .mobile-menu-icon{
    display: none;
}

#header .search-icon:hover{
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-icon:hover{
    color: #000;
    background-color: #ccc;
}


#slider{
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('../img/NewYork.jpg') top center / contain no-repeat;
    position: relative;
}

#slider .description{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 32px 16px;
    text-shadow: 0 0 1px #000;
}

#slider .description h3{
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    margin: 10px 0;
    color: #fff;
}

#slider .description p{
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
    color: #fff;
}


.content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
    margin: 10px 0;
}

#content .section-sub-heading{
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    text-align: justify;
    margin: 15px 0;
    line-height: 1.4;
}

#content .member-list{
    padding: 32px 0;
    text-align: center;
    /* overflow: hidden; */
}

#content .member-name{
    margin: 15px 0;
}

#content .member-img{
    width: 153.6px;
    border-radius: 4px;
}

#tour-section{
    background-color: #000;
}

#tour-section .ticket-list{
    background-color: #fff;
    margin-top: 40px;
}

#tour-section li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
    line-height: 24px;
}

#tour-section .sold-out{
    margin-left: 16px;
    color: #fff;
    background-color: #f44336;
    padding: 3px 8px;
    text-align: center;
}

#tour-section .quantity{
    color: #fff;
    float: right;
    background-color: #000;
    text-align: center;
    padding: 0 8px;
    margin-right: 16px;
    border-radius: 50%;
}

#tour-section .place-list{
    padding: 32px 0;
}


.place-item .place-img{
    width: 100%;
    display: block;
}

.place-item .place-img:hover{
    opacity: 0.6;
}

.place-item .place-body{
    background-color: #fff;
    padding: 16px;
}

.place-item .place-heading{
    margin-bottom: 15px;
}

.place-body p{
    margin: 15px 0;
    line-height: 1.5;
}

.place-body .place-time{
    opacity: 0.6;
}

.place-body .place-buy-btn{
    padding: 10.5px 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: none;
}

.place-buy-btn:hover{
    background-color: #ccc;
    color: #000;
}

/* Contact */

.contact-content{
    padding: 32px 0;
}

.contact-content .contact-info p, i{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i{
    width: 30px;
    display: inline-block;
}

.contact-form .form-control{
    width: 100%;
    line-height: 1.5;
    padding: 8px;
    border: 1px solid #ccc;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.contact-form .form-submit-btn{
    background-color: #000;
    padding: 8px 16px;
    border: none;
    color: #fff;
    float: right;
    margin-top: 16px;
    appearance: none;
    -webkit-appearance: none;
}

.contact-form .form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
}

#footer img{
    width: 100%;
}

#footer .footer-link{
    background-color: #fff;
    padding: 64px 16px;
    text-align:center;
}

#footer i{
    font-size: 24px!important;
    color: #757575;
}

#footer i:hover{
    opacity: 0.6;
}

#footer p.author,a{
    color: #757575;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container{
    position: relative;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalFadeIn ease 0.8s;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 16px;
    font-size: 24px;
    color: #fff;
}

.modal-close:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-header{
    background-color: #009688!important;
    color: #fff;
    height: 129px;
    padding: 32px 16px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header i{
    font-size: 30px;
    margin-right: 16px;
}

.modal-body{
    padding: 0 16px;
}

.modal-body .modal-label{
    display: block;
    margin: 15px 0;
    line-height: 1.4;
}

.modal-body .modal-input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.modal-body #buy-tickets{
    width: 100%;
    background-color: #009688;
    color: #fff;
    padding: 16px;
    margin: 16px 0;
    border: none;
}

.modal-body #buy-tickets:hover{
    color: #000;
    background-color: #ccc;
}

.modal-footer{
    text-align: right;
    margin: 16px;
}

.modal-footer a{
    margin: 0 3px;
    color: #2196F3!important;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from 
    {
        transform: translateY(-150px);
        opacity: 0.5;
    }
    to 
    {
        transform: translateY(0);
        opacity: 1;
    }
}